<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
	integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
	crossorigin="anonymous" />

<title>Prontuário</title>
<link rel="icon" href="/images/icon.png" />
</head>
<body>

	<div th:replace="fragmentos/menu"></div>
	<div class="container" style="padding: 20">
		<form th:object="${prontuario}" th:action="@{/prontuario/salvar}"
			method="POST">
			<input name="id" id="id" th:field="*{id}" type="hidden" /> <input
				type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="row">

				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="pet">Pet</label><select id="pet"
									class="form-control" th:field="*{pet}">
									<option th:each="pet : ${listapet}" th:value="${pet.id}"
										th:text="|${pet.nome} - ${pet.tutor.nome}|"></option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="data">Data</label> <input type="datetime-local"
									class="form-control" id="data" th:field="*{data}" />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="texto">Queixa(Tutor)</label>
							<textarea class="form-control" type="text" th:field="*{queixas}"
								rows="6"> </textarea>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="texto">Exame Físico</label>
							<textarea class="form-control" type="text"
								th:field="*{examesfisicos}" rows="3"> </textarea>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						<div class="form-group">
							<label for="texto">Exame</label>
							<textarea class="form-control" type="text" th:field="*{exames}"
								rows="3"> </textarea>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="texto">Terapeutica</label>
							<textarea class="form-control" type="text"
								th:field="*{terapeutica}" rows="3"> </textarea>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<label for="texto">Suspeitas</label>
							<textarea class="form-control" type="text"
								th:field="*{suspeitas}" rows="3"> </textarea>
						</div>
					</div>
					
					<div class="col-md-12">
						<div class="form-group">
							<label for="usuario">Veterinário:</label>
							<span id="usuario"></span>
						</div>
					</div>
				</div>

				<div class="form-group" id="div_salvar">
					<button type="submit" class="p-3 btn btn-primary" id="salvar" disabled="disabled">Salvar</button>
				</div>
			</div>
		</form>
	</div>


	<div class="modal modal-warning fade" id="modal-mensagem">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Mensagem</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span>×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="${mensagem}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
		integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
	 var isInlineEdit = [[${mensagem} != null ? true:false]];
	 
	  if(isInlineEdit){
		  $(window).on('load', function() {
				$('#modal-mensagem').modal('show');
			});
	      }
	  var auth=[[${#authentication.getPrincipal()}]];
	  $("#usuario").text([[${prontuario.usuario}]]);
	  if(($("#usuario").text()==auth.username)||($("#usuario").text()=='')){
		  $("#salvar").prop('disabled', false);
	  }else{
		  $("#div_salvar").append("<span class='muted'>(Apenas o veterinário signátario pode salvar alterações.)</span>");
	  }
	  
	</script>
</body>
</html>