<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link th:replace="~{fragmentos/css}"></link>

<style type="text/css">
a {
	color: black;
}
</style>

<title>Vacinas Vencidas</title>
<link rel="icon" href="/images/icon.png" />

</head>
<body>
	<div th:replace="~{fragmentos/menu}"></div>

	<div class="container" style="padding: 20">
		<div class="row">
			<div class="col-md-6">
				<h4>Vacinas fora de Vigência</h4>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Vigência</th>
					<th>Pet</th>
					<th>Tutor</th>
					<th>Celular</th>
					<th>Vacina</th>
					<th>Aplicação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${lista}">
					<td th:text="${#dates.format(item.vigencia, 'dd/MM/yyyy')}"></td>
					
					<td><a href="#" th:text="${item.pet.nome}"
						th:href="@{/pet/__${item.pet.id}__}">Yoshe</a></td>

					<td><a href="/cliente/"
						th:href="@{/cliente/__${item.pet.tutor.id}__}"
						th:text="${item.pet.tutor.nome}"></a></td>

					<td th:text="${item.pet.tutor.celular}"></td>

					<td th:text="${item.nome}"></td>
					<td th:text="${#dates.format(item.aplicacao, 'dd/MM/yyyy')}"></td>

				</tr>
			</tbody>
		</table>


	</div>
	<div class="modal modal-warning fade" id="modal-mensagem">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Mensagem</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span>×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="${mensagem}"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<script th:replace="~{fragmentos/js}"></script>

	<script th:inline="javascript">
	 var isInlineEdit = [[${mensagem} != null ? true:false]];

	  if(isInlineEdit){
		  $(window).on('load', function() {
				$('#modal-mensagem').modal('show');
			});
	      }
	</script>
</body>
</html>