<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link th:replace="~{fragmentos/css}"></link>

<title>Lista de Tutores</title>
<link rel="icon" href="/images/icon.png" />
</head>
<body>
	<div th:replace="~{fragmentos/menu}"></div>

	<div class="container" style="padding: 20">
		<div class="row">
			<div class="col-md-6">
				<h4>Tutores</h4>
			</div>
			<div class="col-md-6">
				<div class="float-right">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<input class="form-control form-control-sm ml-3 w-75" type="text"
						id="consulta" onchange="consultaFn(this)" />
				</div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Celular</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<div>
			<a href="#" class="btn btn-primary" onclick="menos(10)">-10</a>
			<a href="#" class="btn btn-primary" onclick="menos()">-</a>
			<span id="page"></span> / <span id="totalPages"></span>
			<a href="#" class="btn btn-primary" onclick="mais()">+</a>
			<a href="#" class="btn btn-primary" onclick="mais(10)">+10</a>
			Total: <span id="TotalElementos"></span>
		</div>
	</div>

	<div class="modal" id="tutorModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

	<script th:replace="~{fragmentos/js}"></script>

	<script th:inline="javascript">
	 var isInlineEdit = /*[[${mensagem} != null ? true:false]]*/false;

	 var listaCompleta = /*[[${lista}]]*/ [];
		let page = 0;
		let pageSize = 10;
		let totalPages = Math.ceil(listaCompleta.length / pageSize);
		let totalElements = listaCompleta.length;
		let listaPage = listaCompleta.splice(page*pageSize, page*pageSize+pageSize);
		atualizaLista();

		consultaFn = function(input) {
			var consulta = input.value.toLowerCase();
			if (consulta.length > 0) {
				listaCompleta = listaCompleta.filter(function(item) {
					return item.nome.toLowerCase().includes(consulta)
				});
			} else {
				listaCompleta = /*[[${lista}]]*/ [];
			}
			totalPages = Math.ceil(listaCompleta.length / pageSize);
			page = 0;
			totalElements = listaCompleta.length;
			atualizaLista();
		};

	function mais(num = 1) {
		if (page < totalPages - 1) {
			page+=num;
		} else {
			page = 0;
		}
		atualizaLista();
	}
	function menos(num = 1) {
		if (page > 0) {
			page-=num;
		} else {
			page = totalPages - 1;
		}
		atualizaLista();
	}

	function atualizaLista() {
		listaPage = listaCompleta.slice(page * pageSize, (page * pageSize) + pageSize);
		$('tbody').empty();
		listaPage.forEach(function(item) {
			var row = `<tr>
				<td><a href="/cliente/${item.id}">${item.nome}</a></td>
				<td>${item.telefone}</td>
				<td>${item.celular}</td>
				<td><a class="btn btn-danger" th:onclick="del(${item.id},this.name)">Excluir</a></td>
			</tr>`;
			$('tbody').append(row);
		});
		$('#page').text(page + 1);
		$('#totalPages').text(totalPages);
		$('#TotalElementos').text(totalElements);
	}
	 
	  if(isInlineEdit){
		  $(window).on('load', function() {
				$('#modal-mensagem').modal('show');
			});
	  }
	  function del(id,nome){
		  var texto="Tem certeza da exclusão de "+nome+"?";
		  texto=texto+"<p><p>";
		  texto=texto+"<a class='btn btn-primary' onclick='$(\"#tutorModal\").modal(\"hide\")'>Não</a>";
		  texto=texto+"<a class='btn btn-danger' href='/cliente/delete/"+id+"'>Sim</a>";

           $(".modal-body").html(texto);
			$("#tutorModal").modal("show");
	  }
	</script>

</body>
</html>