<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link th:replace="~{fragmentos/css}"></link>

<title>Atendimento</title>
<link rel="icon" href="/images/icon.png" />
</head>
<body>

	<div th:replace="~{fragmentos/menu}"></div>

	<div class="container" style="padding: 20">

		<form th:object="${atendimento}" th:action="@{/atendimento/salvar}"
			id="form_atendimento" method="POST">
			<input name="id" id="id" th:field="*{id}" type="hidden" /> <input
				th:field="*{venda}" type="hidden" /> <input type="hidden"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

			<div class="row">

				<div class="col-md-4">
					<div class="form-group">
						<label for="agenda">Agenda</label> <input type="datetime-local"
							class="form-control form-control-lg" th:field="*{agenda}" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="datainicial">Data Inicial</label> <input
							type="datetime-local" class="form-control"
							th:field="*{datainicio}" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="datafim">Data Final</label> <input
							type="datetime-local" class="form-control" th:field="*{datafim}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="situacao">Situação</label><select class="form-control"
							th:field="*{situacao}">
							<option th:each="situacaoAtItem : ${situacaoAt}"
								th:value="${situacaoAtItem}"
								th:text="${situacaoAtItem.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="valor">Valor(R$)</label> <input type="text"
							class="form-control" id="valor" th:field="*{valor}" />
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="valor">Pacote:</label> <input type="text"
							class="form-control" id="valor" th:field="*{pacote}" />
					</div>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 <div class="form-group">
                  <label for="dataPet" class="form-label">Pet</label>
                  <input
                    class="form-control"
                    list="datalistOptions"
                    id="dataPet"
                    placeholder="Pet"
                    autocomplete="off"
                    th:value="*{pet.id != 0 ? pet.nome + ' ' + pet.tutor.nome: ''}"
                  />
                  <input type="hidden" th:field="*{pet}" id="petId" />
                  <datalist id="datalistOptions">
                    <option
                      th:each="pet : ${listapet}"
                      th:value="|${pet.nome} - ${pet.tutor.nome}|"
                      th:text="|${pet.nome} - ${pet.tutor.nome}|"
                      th:data-id="${pet.id}"
                    ></option>
                  </datalist>
                </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="tipo">Serviço</label> <select th:field="*{servico}"
							class="form-control">
							<option th:each="servico: ${listaservico}"
								th:value="${servico.id}" th:text="${servico.texto}"></option>
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="texto">Observações</label>
						<textarea class="form-control" type="text" th:field="*{texto}"
							id="texto" rows="3"> </textarea>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-12">
			<a class="btn btn-danger" href="#" th:if="${atendimento.id!=0}"
				th:onclick="|del(${atendimento.id},'atendimento')|">Excluir</a>

			<button type="submit" class="btn btn-primary" id="salvar"
				form="form_atendimento"
				th:text="${atendimento.id==0}?'Iniciar':'Salvar'">Salvar</button>

			<a class="btn btn-warning" th:if="${atendimento.id!=0}" href='#' 
				th:href="@{/atendimento/produtos/__${atendimento.id}__}">
				Itens: <span th:text="${#lists.size(atendimento.produtos)}"></span>
				<span th:text="|(R$ ${atendimento.totalProdutos})|" class="text-muted"></span>
			</a>

		</div>
	</div>


	<div class="modal modal-warning fade" id="modal-mensagem">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Mensagem</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span>×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="${mensagem}"></p>
				</div>
				<div class="modal-footer">
					<a th:if="${atendimento.id!=0}" href="#"
						th:onclick="|add_servico(${atendimento.id})|"
						class="btn btn-warning">Finalizar</a> <a
						th:href="@{/atendimento/lista}" class="btn btn-primary">Atendimentos</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="tutorModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script th:replace="~{fragmentos/js}"></script>


	<script th:inline="javascript">
	
	 var isInlineEdit = /* [[${mensagem} != null ? true:false]] */false;
	 
	 document.getElementById('dataPet').addEventListener('input', function(e) {
         var input = e.target.value;
         var options = document.getElementById('datalistOptions').options;
         var petId = '';
         for (var i = 0; i < options.length; i++) {
           if (options[i].value === input) {
             petId = options[i].getAttribute('data-id');
             break;
           }
         }
         document.getElementById('petId').value = petId;
       });


	  if(isInlineEdit){
		  $(window).on('load', function() {
				$('#modal-mensagem').modal('show');
			});
	      }
	  function del(id,nome){
		  var texto="Tem certeza da exclusão de "+nome+"?";
		  texto=texto+"<p><p>";
		  texto=texto+"<a class='btn btn-primary' href='#' onclick='$(\"#tutorModal\").modal(\"hide\")'>Não</a>";
		  texto=texto+"<a class='btn btn-danger' href='/atendimento/deletar/"+id+"'>Sim</a>";

           $(".modal-body").html(texto);
           $("#tutorModal").modal("show");
	  }
	  
	</script>


</body>
</html>