<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:replace="~{fragmentos/css}"></link>
	<script src="/js/atendimento/listaatendimento.js"></script>
<title>Erro 500 - VisualVET</title>
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

</head>
<body>
	<div th:replace="~{fragmentos/menu}"></div>

	<div class="container" style="padding: 20">
		<h1>500 - ERRO</h1>
		<h2>VisualVET</h2>
		<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
		<p>Página com erro entre em contato com a manutenção do sistema.</p>
		<p>e-mail:joao.fpx@hotmail.com</p>
		<p>
			<a href="javascript:window.history.go(-1)" class="btn btn-primary">Voltar</a>
		</p>
		<p></p>

	</div>
</body>
</html>