<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:replace="~{fragmentos/css}"></link>

	<script src="/js/atendimento/listaatendimento.js"></script>

<title>Primeiro Acesso</title>
<link rel="icon" href="/images/icon.png"/>
</head>
<body>


	<div class="vertical-menu"></div>

	<div class="container" style="padding: 20">
		<h1>Bem Vindo!!!</h1>
		<h2>VisualVET</h2>
		<p>Para o seu primeiro acesso o sistema cria automaticamente o
			usuario "adm" com senha "adm". É recomendável modifica-la no primeiro
			acesso.</p>
		<p></p>
		<a class="pure-button pure-button-primary" th:href="@{/login}">Acessar</a>
		<p></p>
		<p>Bom proveito</p>
		<p>João Xavier</p>



	</div>
</body>
</html>