<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<link th:replace="~{fragmentos/css}"></link>

<title>Cesta</title>
<link rel="icon" href="/images/icon.png" />
</head>
<body>

	<div th:replace="~{fragmentos/menu}"></div>
	<div class="container" style="padding: 20">
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="row border">
					<div class="col-md-6">
						<h5>Visual Pet Estética Canina</h5>
						<h6>CNPJ 35.234.983/0001-05</h6>
						<h6>Av. Protásio Alves nº.7195 - Alto Petropólis - Porto
							Alegre/RS</h6>
						<h6>Telefone: (51) 3334 0703</h6>
					</div>
					<div class="col-md-6">
						
					</div>
				</div>
				<br />
				<h6>Itens</h6>
				<table class="table" id="cestaTabela">
					<thead>
						<tr>
							<th>Item</th>
							<th>Nome</th>
							<th>Laboratório</th>
							<th>Mínimo</th>
							<th>Qnt.</th>
							<th>Máximo</th>
							<th>Compra</th>
							<th>Venda</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="item,i:${aquisicao}">
							<td th:text="${i.count}"></td>
							<td><a th:text="${item.nome}" th:href="@{/produto/__${item.id}__}"></a></td>
							<td th:text="${item.laboratorio}"></td>
							<td th:text="${item.quantidadeMinima}"></td>
							<td th:text="${item.quantidade}"></td>
							<td th:text="${item.quantidadeMaxima}"></td>
							<td th:text="|R$ ${item.precoCompra}|"></td>
							<td th:text="|R$ ${item.precoVenda}|"></td>
							

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container">
			<div class="row  justify-content-end">
			
					<span
						th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}">01/01/2020</span>
			</div>
		</div>
	</div>


	<script th:replace="~{fragmentos/js}"></script>

</body>
</html>