<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="_csrf" th:content="${_csrf.token}"></meta>

<link th:replace="fragmentos/css"></link>

<title>Produtos</title>
<link rel="icon" href="/images/icon.png" />
</head>
<body>

	<div th:replace="fragmentos/menu"></div>
	<div class="container">

		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" href="#home"
				data-toggle="tab">Cadastro</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#relatorio" onclick="historico()">Relatório</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane active">
				<div class="row">
					<div class="col-lg-6">
						<form th:object="${produto}" th:action="@{/produto/salvar}"
							method="POST">
							<input name="id" id="id" th:field="*{id}" type="hidden" /> <input
								type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />

							<div class="row">

								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('*')}">
									<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="nome">Nome</label> <input class="form-control"
											type="text" th:field="*{nome}" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="laboratorio">Laboratório</label> <input
											class="form-control" type="text" th:field="*{laboratorio}" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label for="texto">Descrição</label>
										<textarea class="form-control" type="text"
											th:field="*{descricao}" id="texto" rows="3"> </textarea>
									</div>
								</div>

								<div class="col-md-2">
									<div class="form-group">
										<label for="quantidademin">Mínimo</label> <input
											class="form-control" type="number"
											th:field="*{quantidadeMinima}" />
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="quantidademin">Máxima</label> <input
											class="form-control" type="number"
											th:field="*{quantidadeMaxima}" />
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="valor">Preço (R$)</label> <input type="text"
											class="form-control" th:field="*{precoVenda}" />
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label for="codigo">Código</label> <input
											class="form-control" type="text" th:field="*{codigo}" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="tipo">Tipo</label> <input class="form-control"
											type="text" th:field="*{tipo}" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="tipo">NCM</label> <input class="form-control"
											type="text" th:field="*{ncm}" />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="tipo">Fração</label> <input class="form-control"
											type="text" th:field="*{fracao}" />
									</div>
								</div>
							</div>
							<div class="d-flex">
								<div class="p-2">
									<button type="submit" class="p-3 btn btn-primary" id="salvar">Salvar</button>
								</div>
								<div class="p-2">
									<a class="p-3 btn btn-danger" th:name="*{nome}" href="#"
										th:onclick="|del(*{id},this.name)|">Excluir</a>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<div>
							<a class="btn btn-primary" href="#" onclick="cadastrar()">Cadastrar
								Compra</a>
						</div>
						<div id="formulario"></div>
						<div>
							<table id="table-estoque"></table>
						</div>
					</div>
				</div>
			</div>
			<div id="relatorio" class="tab-pane fade">
				<div class="m-2">

					<h3 id="produto"></h3>

					<div>
						Unidades Vendidas: <span id="unidades"></span>
					</div>
					<div>
						Vendas Brutas: <span id="vendas"></span>
					</div>
					<div>
						Lucro presumido: <span id="lucro"></span>
					</div>

					<div id="historico" style="margin-top: 50px">
						<table id="tabela"></table>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="modal modal-warning fade" id="modal-mensagem">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Mensagem</h4>
					<button type="button" class="close" data-dismiss="modal">
						<span>×</span>
					</button>
				</div>
				<div class="modal-body">
					<p th:text="${mensagem}"></p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" onclick="consultar2()">Pesquisa</a>
					<a class="btn btn-success" th:href="@{/produto/}">+ Um
						(próximo)</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="tutorModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
	
	 var isInlineEdit = [[${mensagem} != null ? true:false]];

	  if(isInlineEdit){
		  $(window).on('load', function() {
				$('#modal-mensagem').modal('show');
			});
	  }
	  
	  //atualiza o estoque do produto
	  let prod = [[${produto}]];
	  form_consulta();
	  
	  function form_consulta(){
	      let formulario = '<div><form onsubmit = "event.preventDefault(); consultar();"><input class="form-control mr-sm-2" type="search" placeholder="Consultar Produtos"'+
	      'aria-label="Consultar Produtos" id="consulta""></input></form></div>';
	      
	      $("#right").append(formulario);
	  }
	  function consultar(){
	      window.location.assign("/produto/lista/"+$("#consulta").val());
	  }
	  function consultar2(){
	      var item = prompt("Consultar estoque de produtos?", "");
	      if (item == null || item == "") {
	      } else {
		      window.location.assign("/produto/lista/"+item);
	      }
	  }

	  function del(id,nome){
	      if(confirm("Tem certeza da exclusão de "+nome+"?")){
		  $.ajax({
			url: "/produto/"+id,
		    headers: {
				'X-CSRF-Token': $("meta[name='_csrf']").attr("content")
		        },
			type: "DELETE",
			success: function (result) {
			    alert(result);
			    location.reload();
			}
		});		  
	      }
	  }
	  function historico(){		  
			$.ajax({
				url: "/cesta/produtocesta/" + $("#id").val(),
				success: function (result) {
					var tableInfo =  $("#tabela")
						.DataTable(
							{
							    data : result,
							    order: [ 1, 'desc' ],
							    language : {
								url : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
							    },
							    columns : [
								{
									data : "id",
									title : "ID",
									render: function ( data, type, row ) {
										return "<a href='/cesta/"+data+"'>"+data+"</a>";
								}
								},
								{
								    data : "data",
								    title : "Data",
								    render: function(data, type, row){
							                if(type === "sort" || type === "type"){
							                    return data;
							                }
							                return moment(data).format("DD/MM/YYYY HH:mm");
							            }
								},{
									data : "cliente",
									title : "Cliente",
									render: function ( data, type, row ) {
										return "<a href='/cliente/"+data.id+"'>"+data.nome+"</a>";
								}
								} ]
							});	
						
					$.ajax({
						url: "/cesta/relatorio/" + $("#id").val(),
						success: function (dados) {
						    let total = 0;
						  let quantidade = 0;
						  let custo = 0;
						  for(var i = 0; i<dados.length; i++){
							  total =total + (dados[i].precoVenda*dados[i].quantidade);
							  quantidade = quantidade+ dados[i].quantidade;
							  custo = custo+(dados[i].quantidade*dados[i].precoCompra);
						  }
						  let lucro = total-custo;
						  $("#unidades").text(quantidade);
						  $("#vendas").text("R$ "+  Number(total).toFixed(2));
						  $("#lucro").text("R$ "+ Number(lucro).toFixed(2));
						  $("#produto").text($("#nome").val());
						}
					});
					
					
				}
			});
	  }
	</script>


	<div th:replace="fragmentos/js"></div>
	<script type="text/javascript">
	if(prod.estoque.length>0){
    var table = $("#table-estoque").DataTable(
			{
			    data : prod.estoque,
			    paging: false,
			    info: false,
			    searching: false,
			    language : {
				url : "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
			    },
			    columns : [
				{
					data : "texto",
					title : ""
				},{
					data : "quantidade",
					title : "Qnt"
				},{
					data : "precoCompra",
					title : "Compra(R$)",
					render : function ( data, type, row ) {
					    if(data==null){
							return "";
					    }
					    return "R$ "+data;
					}
				},{
				    data : "validade",
				    type: "date-eu",
				    title : "Validade",
				    render: function(data, type, row){
			                if(type === "sort" || type === "type"){
			                    return data;
			                }
			                if(data==null)
			                    return "";
			                return moment(data).format("DD/MM/YYYY");
			            }
				},{
				    data : "id",
				    title : "",
				    render: function(data, type, row){
			                return "<a class='btn' onclick='editar(\""+data+"\")'><img src='/images/editar.png' width='16' heigth='16'/></a>";
			            }
				}]
			});
	}

	function editar(id){
	    $.ajax({
			url: "/estoque/" + id,
			success: function (result) {
			    if(result!=null){
				console.log(result);
				 var texto="<div>";
				  texto=texto+"<div class='row'><div class='col-6'>Texto<input class='form-control' id='texto"+id+"' value='"+result.texto+"'/></div>";
				  texto=texto+"<div class='col-6'>Validade<input  class='form-control' id='validade"+id+"' value='"+formatDate(result.validade)+"' type='date'/></div></div>";
				  texto=texto+"<div class='row'><div class='col-6'>Quantidade<input class='form-control' id='quantidade"+id+"' value='"+result.quantidade+"'/></div>";
				  texto=texto+"<div class='col-6'>Compra<input class='form-control' id='compra"+id+"' value='"+result.precoCompra+"'/></div></div>";		
				  texto=texto+"<div class='row'><div class='col-6'></div>";
				  texto=texto+"<div class='mt-2 col-6 text-muted'>Registro: "+formatDate2(result.registro)+"<br/>Usuário "+result.usuario+"</div></div>";		  
				  texto=texto+"<br/>";
				  texto=texto+"</div><a class='btn btn-primary' onclick='$(\"#formulario\").html(\"\")'>Cancelar</a>";
				  texto=texto+"<a class='btn btn-info' href='#' onclick='putestoque(\""+id+"\")'>Salvar</a>";
				  texto=texto+"<a class='btn btn-danger' href='#' onclick='deleteestoque(\""+id+"\")'>Delete</a>";
				  				  
		           $("#formulario").html(texto);
			    }
			   
			}
		});		  
	}

	
	function cadastrar(id){
	    var texto="<div>";
	    texto=texto+"<div class='row'><div class='col-6'>Texto<input class='form-control' id='texto"+id+"'/></div>";
	    texto=texto+"<div class='col-6'>Validade<input  class='form-control' id='validade"+id+"' type='date'/></div></div>";
	    texto=texto+"<div class='row'><div class='col-6'>Quantidade<input class='form-control' id='quantidade"+id+"'/></div>";
	    texto=texto+"<div class='col-6'>Compra<input class='form-control' id='compra"+id+"'/></div></div>";		  
	    texto=texto+"<br/>";
	    texto=texto+"<a class='btn btn-danger' href='#' onclick='postestoque(\""+id+"\")'>Salvar</a>";

	    $("#formulario").html(texto);	  
	}
	function postestoque(id_estoque){
	    $.ajax({
			url: "/estoque/",
		    headers: {
				'X-CSRF-Token': $("meta[name='_csrf']").attr("content")
		        },
			type: "POST",
			data:{
			    id: 0,
			    texto: $("#texto"+id_estoque).val(),
			    quantidade:$("#quantidade"+id_estoque).val(),
				precoCompra:$("#compra"+id_estoque).val(),
				validade:$("#validade"+id_estoque).val(),
				produto:prod.id
			},
			success: function (result) {
			    alert(result);
			    location.reload();
			}
		});		  
	}
	function putestoque(id_estoque){
	    var u ="/estoque?id="+id_estoque+"&texto="+$("#texto"+id_estoque).val()+
		"&quantidade="+$("#quantidade"+id_estoque).val()+"&precoCompra="+$("#compra"+id_estoque).val()+
		"&validade="+$("#validade"+id_estoque).val()+"&produto="+prod.id;
	    $.ajax({
			url: u,
		    headers: {
				'X-CSRF-Token': $("meta[name='_csrf']").attr("content")
		    },
			type: "PUT",
			success: function (result) {
			    alert(result);
			    location.reload();
			}
		});		  
	}
	function deleteestoque(id_estoque){
	    if(confirm("Tem certeza da Exclusão do estoque?")){
	    $.ajax({
			url: "/estoque/"+id_estoque,
		    headers: {
				'X-CSRF-Token': $("meta[name='_csrf']").attr("content")
		        },
			type: "DELETE",
			success: function (result) {
			    alert(result);
			    location.reload();
			}
		});
	    }
	}

	function formatDate(date) {
	    var d = new Date(date),
	        month = '' + (d.getMonth() + 1),
	        day = '' + d.getDate(),
	        year = d.getFullYear();

	    if (month.length < 2) 
	        month = '0' + month;
	    if (day.length < 2) 
	        day = '0' + day;

	    return [year, month, day].join('-');
	}
	
	function formatDate2(date) {
	    var d = new Date(date),
	        month = '' + (d.getMonth() + 1),
	        day = '' + d.getDate(),
	        year = d.getFullYear(),
	        hour = d.getHours(),
	        minute = d.getMinutes();
	    
	    if(minute.length<2)
			minute='0'+ minute;
	    if (month.length < 2) 
	        month = '0' + month;
	    if (day.length < 2) 
	        day = '0' + day;
	    var data = [day, month, year].join('-');
	    
	    return data + " "+ hour +":"+minute;
	}
	</script>
</body>
</html>